.skills {
    padding: 40px;
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .title {
        font-size: 36px;
        color: #7fcee5;
        font-weight: bold;
    }
    .cardCntr {
        display: flex;
        flex-wrap: wrap;
        .card {
            margin: 20px;
            background-color: black;
            border: none;
            min-width: 300px;
            overflow:hidden;
            .title {
                color: #7fcee5;
                font-size: 20px;
                margin-bottom: 16px;
            }
            .skill {
                display: flex;
                font-size: 18px;
                color: #fff;
                justify-content: space-between;
            }
        }
    }
    @media (max-width: 500px){
        padding: 20px;
        .title {
            align-self: center;
        }
        .card {
            margin: 10px;
        }
    }
}