.skills {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .title {
        font-size: 36px;
        color: #7fcee5;
        font-weight: bold;
        align-self: center;
    }
    .cardCntr {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .card {
            margin: 20px;
            background-color: black;
            border: none;
            min-width: 300px;
            overflow:hidden;
            .title {
                color: #7fcee5;
                font-size: 20px;
                margin-bottom: 16px;
                text-shadow: 0 0 80px rgb(192 219 255 / 75%), 0 0 32px rgb(65 120 255 / 24%);
            }
            .skill {
                display: flex;
                font-size: 18px;
                color: #fff;
                justify-content: space-between;
            }
        }
    }
    @media (max-width: 500px){
        padding: 0px;
        .title {
            align-self: center;
        }
        .card {
            margin: 20px auto !important;
        }
    }
}